:root {
    --title-color: #322153;
    --primary-color: #34cb79;
}

* {
    margin: 0;
    padding: 0;
    /*A borda será sempre o tamanho da borda do form*/
    /*Resetando o comportamento padrão de todas as páginas que forem usar o main*/
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}
body{
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-family: 'Ubuntu', sans-serif;
}

/*BOX MODEL

Modelo de caixa: toda caixa tem
largura, altura, espaçamentos, preenchimentos,
bordas, cor, maneira que é vista pelo html (display),
posicionamento, alinhamentos
*/
